.common-user-card {
  border: 1px solid silver;
  height: 200px;
  width: 180px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: #908686;
}
.upper {
  text-transform: capitalize;
}