.form {
    display: inline-block;
    position: relative;
    background-color: rgb(229, 229, 229);
    padding: 40px;
    border-radius: 12px;

}

.form div{
  display: flex;
  flex-direction: column;
}

