.common {
  display: flex;
}

.users-list {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.left-side {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.right-side {
  width: 70%;
  border-left: 1px solid silver;
  display: flex;
  padding-left: 50px;
}